﻿@model DBI.Safety.Models.FLHAStep1Form

@{
    ViewData["Title"] = "Field Level Hazard Assessment";
}
<h2 class="page-title">@ViewData["Title"].ToString().ToUpper()</h2>
<h3 class="page-sub-title">@ViewData["Message"]</h3>

<div class="row" style="margin-bottom:40px;">
    <div class="col-md-12">
        @if (Model.IsHazardSelected != null && !(bool)Model.IsHazardSelected)
        {
            <div class="alert alert-danger" role="alert">
                <strong>Error!</strong> Please select at least one of the hazard.
            </div>
        }
            <form asp-action="Create">
                <div class="row" style="margin-top: 10px;">
                    <div class="form-group col-md-6">
                        <label asp-for="PPEInspected" class="control-label"></label>
                        <input asp-for="PPEInspected" class="form-control" placeholder="Please enter PPE inspected" autocomplete="off" />
                        <span asp-validation-for="PPEInspected" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="SelectedLocationId" class="control-label"></label>
                        @Html.HiddenFor(m => m.SelectedLocationId)
                        @(Html.DevExtreme().SelectBoxFor(m => m.SelectedLocationId)
                            .ID("FLHA_Location")
                            .Placeholder("Please selecet location")
                            .DataSource(Model.LocationList)
                            .DataSourceOptions(x => x.Paginate(true).PageSize(25))
                            .DisplayExpr("DisplayMember")
                            .ValueExpr("ValueMember")
                            .SearchEnabled(true)
                            .DeferRendering(true)
                            .ShowDataBeforeSearch(false)
                            .Value(Model.SelectedLocationId)
                            .OnValueChanged(@<text>
                                function (e){
                                    $.getJSON("/FLHA/GetTaskList", { locationId: e.value }, function (data) {                             
                                        $("#FLHA_Task").empty();                                
                                        $.each(data, function (i, task) {                                                    
                                            $('#FLHA_Task').append(new Option( 
                                                task.text,
                                                task.value 
                                            ));
                                        });
                                    });

                                    $("#@Html.IdFor(m => m.SelectedLocationId)").val(e.value);
                                }
                            </text>))
                        @*<span asp-validation-for="SelectedLocationId" class="text-danger"></span>*@
                    </div>
                </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="SelectedTaskId" class="control-label"></label>
                    @Html.DropDownListFor(x => x.SelectedTaskId, new SelectList(Model.TaskList, "ValueMember", "DisplayMember"),
                                               htmlAttributes: new { @class = "form-control", id = "FLHA_Task" })
                    <span asp-validation-for="SelectedTaskId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Work" class="control-label"></label>
                    <input asp-for="Work" class="form-control" placeholder="Please enter work to be done" autocomplete="off" />
                    <span asp-validation-for="Work" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" placeholder="Please enter your task location" autocomplete="off" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="MusterPoint" class="control-label"></label>
                    <input asp-for="MusterPoint" class="form-control" placeholder="Please enter muster point" autocomplete="off" />
                    <span asp-validation-for="MusterPoint" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="PermitJob" class="control-label"></label>
                    <input asp-for="PermitJob" class="form-control" placeholder="Please enter your permit job" autocomplete="off" />
                    <span asp-validation-for="PermitJob" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="IsToolsAndEquipmentCompleted" class="control-label"></label>
                    <div class="btn-group-sm btn-group-sm" data-toggle="buttons">
                        @foreach (var yesOrNo in Model.YesOrNo)
                        {
                            <label for="@yesOrNo.IsSelected" class="btn btn-default radio-prime">
                                @yesOrNo.Name
                                @Html.RadioButtonFor(m => m.IsToolsAndEquipmentCompleted, yesOrNo.IsSelected, new { id = yesOrNo.IsSelected })
                            </label>
                        }
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="IsWarningRibbonNeeded" class="control-label"></label>
                    <div class="btn-group-sm btn-group-sm" data-toggle="buttons">
                        @foreach (var yesOrNo in Model.YesOrNo)
                        {
                            <label for="@yesOrNo.IsSelected" class="btn btn-default radio-prime">
                                @yesOrNo.Name
                                @Html.RadioButtonFor(m => m.IsWarningRibbonNeeded, yesOrNo.IsSelected, new { id = yesOrNo.IsSelected })
                            </label>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="IsWorkerWorkingAlone" class="control-label"></label>
                    <div class="btn-group-sm btn-group-sm" data-toggle="buttons">
                        @foreach (var yesOrNo in Model.YesOrNo)
                        {
                            <label for="@yesOrNo.IsSelected" class="btn btn-default radio-prime">
                                @yesOrNo.Name
                                @Html.RadioButtonFor(m => m.IsWorkerWorkingAlone, yesOrNo.IsSelected,
                                              new { id = yesOrNo.IsSelected, onclick = "ShowHideDiv()" })
                            </label>
                        }
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Explain" class="control-label"></label>
                    <input asp-for="Explain" class="form-control" placeholder="Please explain" autocomplete="off" />
                    <span asp-validation-for="Explain" class="text-danger"></span>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <p>
                        Check off the hazards that apply to this job. List the items in the hazard column, indicate the priority
                        ranking and identify the plans to eliminate or control on the other side of this form.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <table class="table table-responsive-sm">
                        <caption class="caption">@Html.DisplayName("Environmental Hazards")</caption>
                        <tbody>
                            @for (int i = 0; i < Model.EnvironmentalHazards.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(m => m.EnvironmentalHazards[i].Id)
                                        @Html.HiddenFor(m => m.EnvironmentalHazards[i].Name)
                                        @Html.HiddenFor(m => m.EnvironmentalHazards[i].Category)
                                        <div class="checkbox checkbox-primary">
                                            <input asp-for="@Model.EnvironmentalHazards[i].Selected" type="checkbox">
                                            <label asp-for="@Model.EnvironmentalHazards[i].Selected" style="overflow-wrap: break-word;">
                                                @Model.EnvironmentalHazards[i].Name
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="table table-responsive-sm">
                        <caption class="caption">@Html.DisplayName("Ergonomic Hazards")</caption>
                        <tbody>
                            @for (int i = 0; i < Model.ErgonomicHazards.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(m => m.ErgonomicHazards[i].Id)
                                        @Html.HiddenFor(m => m.ErgonomicHazards[i].Name)
                                        @Html.HiddenFor(m => m.ErgonomicHazards[i].Category)
                                        <div class="checkbox checkbox-primary">
                                            <input asp-for="@Model.ErgonomicHazards[i].Selected" class="form-check-input" type="checkbox">
                                            <label asp-for="@Model.ErgonomicHazards[i].Selected" class="form-check-label"
                                                   style="overflow-wrap: break-word;">
                                                @Model.ErgonomicHazards[i].Name
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="table table-responsive-sm">
                        <caption class="caption">@Html.DisplayName("Access-Egress/ Operational Hazards")</caption>
                        <tbody>
                            @for (int i = 0; i < Model.AccessAndOperationalHazards.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Html.HiddenFor(m => m.AccessAndOperationalHazards[i].Id)
                                        @Html.HiddenFor(m => m.AccessAndOperationalHazards[i].Name)
                                        @Html.HiddenFor(m => m.AccessAndOperationalHazards[i].Category)
                                        <div class="checkbox checkbox-primary">
                                            <input asp-for="@Model.AccessAndOperationalHazards[i].Selected" class="form-check-input" type="checkbox">
                                            <label asp-for="@Model.AccessAndOperationalHazards[i].Selected" class="form-check-label"
                                                   style="overflow-wrap: break-word;">
                                                @Model.AccessAndOperationalHazards[i].Name
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-lg-2 pull-left">
                    <input type="submit" name="cancel" value="Cancel" class="btn btn-default btn-block"
                           formaction="/FLHA/Create" formmethod="get" />
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2 pull-right">
                    <input type="submit" value="Continue to Step 2" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>
