﻿@model DBI.Safety.Models.FLHAHistoryForm

@{
    ViewData["Title"] = "History";
}
<h2 class="page-title">@ViewData["Title"].ToString().ToUpper()</h2>
<h3 class="page-sub-title">@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-12">
        <form asp-action="History">
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="SelectedLocationId" class="control-label"></label>
                    @Html.DropDownListFor(x => x.SelectedLocationId, new SelectList(Model.LocationList, "ValueMember", "DisplayMember"),
                                               htmlAttributes: new { @class = "form-control", id = "FlhaLocationHistory" })
                    <span asp-validation-for="SelectedLocationId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="SelectedTaskId" class="control-label"></label>
                    @Html.DropDownListFor(x => x.SelectedTaskId, new SelectList(Model.TaskList, "ValueMember", "DisplayMember"),
                                               htmlAttributes: new { @class = "form-control", id = "FlhaTaskHistory" })
                    <span asp-validation-for="SelectedTaskId" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="SelectedRegionId" class="control-label"></label>
                    @Html.DropDownListFor(x => x.SelectedRegionId, new SelectList(Model.RegionList, "ValueMember", "DisplayMember"),
                                               htmlAttributes: new { @class = "form-control", id = "FlhaRegionHistory" })
                    <span asp-validation-for="SelectedRegionId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="From" class="control-label"></label>
                    <div class="dx-field-value">
                        @(Html.DevExtreme().DateBox()
                                            .Name("From")
                                            .Type(DateBoxType.Date)
                                            .Max(DateTime.Now)
                        )
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="To" class="control-label"></label>
                    <div class="dx-field-value">
                        @(Html.DevExtreme().DateBox()
                                            .Name("To")
                                            .Type(DateBoxType.Date)
                                            .Max(DateTime.Now)
                        )
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-xs-6 col-sm-3 col-lg-2 pull-left">
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2 pull-right">
                    <input type="submit" value="Filter" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
        <div class="row" style="margin-top: 25px; margin-bottom: 40px;">
            <div class="col-md-12">
                @(Html.DevExtreme().DataGrid<FLHALog>()
                    .ID("gridContainer")
                    .DataSource(Model.FLHALogs)
                    .ColumnAutoWidth(true)
                    .Columns(columns =>
                    {
                        columns.AddFor(m => m.Id)
                        .CellTemplate(@<text>
                            <a href="/FLHA/History/<%= value %>">View Log</a> |                           
                            <%= value %></text>);

                        columns.AddFor(m => m.Project).Caption("Project #");
                        columns.AddFor(m => m.Activity);
                        columns.AddFor(m => m.Region);
                        columns.AddFor(m => m.CreatedBy);
                        columns.AddFor(m => m.CreatedDate).DataType(GridColumnDataType.DateTime).Format("MM-dd-yyyy HH:mm:ss");
                    })
                    .Paging(paging => paging.PageSize(10))
                    .Pager(pager =>
                    {
                        pager.ShowPageSizeSelector(true);
                        pager.AllowedPageSizes(new List<int> { 5, 10, 20 });
                        pager.ShowInfo(true);
                    })
                    .MasterDetail(md => { 
                        md.Enabled(true);
                        md.Template(@<text>
                            <div class="master-detail-caption"><h4>FLHA Detail:</h4></div>
                            @(Html.DevExtreme().DataGrid<FLHADetail>()
                                .DataSource(Model.FLHADetails)
                                .DataSourceOptions(op => op.Filter(new JS("['Id', '=', data.Id]")))
                                .ShowBorders(true)
                                .Columns(columns =>
                                {
                                    columns.AddFor(m => m.Hazard).Width(350);
                                    columns.AddFor(m => m.Severity);
                                    columns.AddFor(m => m.Probability);
                                    columns.AddFor(m => m.Priority);
                                    columns.AddFor(m => m.Plans);
                                })
                            )

                            <div class="master-detail-caption" style="margin-top: 15px;"><h4>Reviewed by:</h4></div>
                            @(Html.DevExtreme().DataGrid<FLHAReviewDetail>()
                                .DataSource(Model.FLHAReviewDetails)
                                .DataSourceOptions(op => op.Filter(new JS("['Id', '=', data.Id]")))
                                .ShowBorders(true)
                                .Columns(columns =>
                                {
                                    columns.AddFor(m => m.FullName);
                                    columns.AddFor(m => m.Type);
                                    columns.AddFor(m => m.CreatedDate).DataType(GridColumnDataType.DateTime).Format("MM-dd-yyyy HH:mm:ss");
                                })
                            )
                        </text>);
                    })
                )
            </div>
        </div>
    </div>
</div>
