﻿@using System.IO;
@model DBI.Safety.Models.FLHAViewModel
<script src="~/js/signature_pad.js"></script>

@{
    ViewData["Title"] = "Field level hazard assessment";
}

<div class="hidden-print">
    <div class="row">
        <form>
            <input id="hdnFlhaDataId" type="hidden" value="@Model.Id" />
            <div class="col-md-8 col-lg-8">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="page-title">@ViewData["Title"].ToString().ToUpper()</h2>
                        <h3 class="page-sub-title">@ViewData["Message"]</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <strong>@Html.DisplayNameFor(model => model.PPEInspected)</strong> <br />
                        @Html.DisplayFor(model => model.PPEInspected)
                    </div>
                    <div class="form-group col-md-6">
                        <strong>@Html.DisplayNameFor(model => model.Location)</strong> <br />
                        @Html.DisplayFor(model => model.Location)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <strong>@Html.DisplayNameFor(model => model.Activity)</strong> <br />
                        @Html.DisplayFor(model => model.Activity)
                    </div>
                    <div class="form-group col-md-6">
                        <strong>@Html.DisplayNameFor(model => model.WorkInfo)</strong> <br />
                        @Html.DisplayFor(model => model.WorkInfo)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <strong>@Html.DisplayNameFor(model => model.TaskLocation)</strong> <br />
                        @Html.DisplayFor(model => model.TaskLocation)
                    </div>
                    <div class="form-group col-md-6">
                        <strong>@Html.DisplayNameFor(model => model.MusterPoint)</strong> <br />
                        @Html.DisplayFor(model => model.MusterPoint)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <strong>@Html.DisplayNameFor(model => model.PermitJobNumber)</strong> <br />
                        @Html.DisplayFor(model => model.PermitJobNumber)
                    </div>
                    <div class="form-group col-md-6">
                    </div>
                </div>

                @foreach (var title in Model.Hazards.Select(x => x.Title).Distinct())
                {
                    <div class="caption">@title</div>

                    @for (int i = 0; i < Model.Hazards.Count; i++)
                    {
                        @if (Model.Hazards[i].Title == title)
                        {
                            <div class="col-md-12">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td style="width:50px; border: none;">
                                                <span><strong>Priority</strong></span>
                                                <h2 style="text-align:center;">
                                                    <strong>@Html.DisplayFor(model => model.Hazards[i].Priority)</strong>
                                                </h2>
                                            </td>
                                            <td style="padding-left:15px; border: none;">
                                                <span><strong>Hazard</strong></span>
                                                <p>@Model.Hazards[i].Name</p>
                                                <label class="control-label">Plans</label>
                                                <p>@Html.DisplayFor(model => model.Hazards[i].Plans)</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        }
                    }
                }

                <div class="row">
                    <div class="form-group col-md-6">
                        <strong>@Html.DisplayNameFor(model => model.IsToolsEquipmentCompleted)</strong> <br />
                        @if (Model.IsToolsEquipmentCompleted)
                        {
                            <text>Yes</text>;
                        }
                        else
                        {
                            <text>No</text>                ;
                        }
                    </div>
                    <div class="form-group col-md-6">
                        <strong>@Html.DisplayNameFor(model => model.IsWarningRibbonNeeded)</strong> <br />
                        @if (Model.IsWarningRibbonNeeded)
                        {
                            <text>Yes</text>;
                        }
                        else
                        {
                            <text>No</text>                ;
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <strong>@Html.DisplayNameFor(model => model.IsWorkerWorkingAlone)</strong> <br />
                        @if (Model.IsWorkerWorkingAlone)
                        {
                            <text>Yes</text>;
                        }
                        else
                        {
                            <text>No</text>                ;
                        }
                    </div>
                    <div class="form-group col-md-6">
                        <strong>@Html.DisplayNameFor(model => model.WorkerComment)</strong> <br />
                        @if (!string.IsNullOrEmpty(Model.WorkerComment))
                        {
                            @Html.DisplayFor(model => model.WorkerComment)
                        }
                        else
                        {
                            <span>N/A</span>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <strong>@Html.DisplayNameFor(model => model.CreatedBy)</strong> <br />
                        @Html.DisplayFor(model => model.CreatedBy)
                    </div>
                    <div class="form-group col-md-6">
                        <strong>@Html.DisplayNameFor(model => model.CreatedDate)</strong> <br />
                        @Html.DisplayFor(model => model.CreatedDate)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="caption">Reviewers</div>
                        @if(Model.Reviews.Count > 0)
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Entry Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Reviews.Count; i++)
                                    {
                                        <tr>
                                            <td style="width:150px; border: none;">
                                                <p>@Html.DisplayFor(model => model.Reviews[i].FullName)</p>
                                            </td>
                                            <td style="padding-left:15px; border: none;">
                                                <p>@Model.Reviews[i].Type</p>
                                            </td>
                                            <td style="padding-left:15px; border: none;">
                                                <p>@Html.DisplayFor(model => model.Reviews[i].CreatedDate)</p>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <span>N/A</span>
                        }

                    </div>
                </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <hr />
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:40px;">
                        <div class="col-xs-6 col-sm-3 col-lg-2 pull-left">
                            <input type="submit" name="goBack" value="Go Back" class="btn btn-default btn-block"
                                   formaction="/FLHA/History" formmethod="get" />
                        </div>
                        <div class="col-xs-6 col-sm-3 col-lg-2 pull-right">
                            <input type="button" name="sign" value="Sign" class="btn btn-primary btn-block" />
                        </div>
                    </div>
                </div>
        </form>    
    </div>
</div>

@* Printer friendly page *@
<div class="visible-print-block" style="font-size:11px;">
    <div class="row">
        <div class="col-lg-12">
            <table style="margin-top:-50px;">
                <tr>
                    <td colspan="2"><h4>FIELD LEVEL HAZARD ASSESSMENT</h4></td>
                    <td style="text-align:right;">DBi Services</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p>
                            Check off the hazards that apply to this job. List the items in the hazard column, indicate the priority ranking and identify the
                            plans to eliminate or control on the other side of this form.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table border="1" style="width:100%;">
                            <thead>
                                <tr>
                                    <th width="33%" style="padding:3px;">Environmental Hazards</th>
                                    <th width="33%" style="padding:3px;">Ergonomic Hazards</th>
                                    <th width="34%" style="padding:3px;">Access-Egress/Operational Hazards</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="padding:10px; font-size:10px; vertical-align:top;">
                                        <table>
                                             @foreach (var item in Model.EnvironmentalHazards)
                                            {
                                                <tr>
                                                    <td width="25px" style="vertical-align:text-top;">
                                                        @if (item.Selected)
                                                        {
                                                            <div><strong>&#9745;</strong></div>
                                                        } else
                                                        {
                                                            <div><strong>&#9744;</strong></div>
                                                        }
                                                    </td>
                                                    <td width="15px" style="vertical-align:text-top;"><strong>@item.SortOrderId</strong></td>
                                                    <td style="overflow-wrap: break-word; vertical-align:text-top;">@item.Name</td>
                                                </tr>                                               
                                            }
                                        </table>
                                    </td>
                                    <td style="padding:10px; font-size:10px; vertical-align:top;">
                                        <table>
                                             @foreach (var item in Model.ErgonomicHazards)
                                            {
                                                <tr>
                                                    <td width="25px" style="vertical-align:text-top;">
                                                        @if (item.Selected)
                                                        {
                                                            <div><strong>&#9745;</strong></div>
                                                        } else
                                                        {
                                                            <div><strong>&#9744;</strong></div>
                                                        }
                                                    </td>
                                                    <td width="15px" style="vertical-align:text-top;"><strong>@item.SortOrderId</strong></td>
                                                    <td style="overflow-wrap: break-word; vertical-align:text-top;">@item.Name</td>
                                                </tr>                                               
                                            }
                                        </table>                                       
                                    </td>
                                    <td style="padding:10px; font-size:10px; vertical-align:top;">
                                        <table>
                                             @foreach (var item in Model.AccessAndOperationalHazards)
                                            {
                                                <tr>
                                                    <td width="25px" style="vertical-align:text-top;">
                                                        @if (item.Selected)
                                                        {
                                                            <div><strong>&#9745;</strong></div>
                                                        } else
                                                        {
                                                            <div><strong>&#9744;</strong></div>
                                                        }
                                                    </td>
                                                    <td width="15px" style="vertical-align:text-top;"><strong>@item.SortOrderId</strong></td>
                                                    <td style="overflow-wrap: break-word; vertical-align:text-top;">@item.Name</td>
                                                </tr>                                           
                                            }
                                        </table>   
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="48%">
                        <table style="width:100%; border:1px solid #000; border-top:none; border-bottom:none;">
                            <thead>
                                <tr style="border-bottom:1px solid #000;">
                                    <th style="padding:3px;">Severity:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="padding:10px; font-size:10px; vertical-align:top;">
                                        <table>
                                             @foreach (var item in Model.SeverityPrint)
                                            {
                                                <tr>
                                                    <td width="15px" style="vertical-align:text-top;">@item.SortOrderId</td>
                                                    <td style="overflow-wrap: break-word; vertical-align:text-top;">
                                                        <strong>@item.Name</strong> - @item.Description
                                                    </td>
                                                </tr>                                               
                                            }
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="4%">&nbsp;</td>
                    <td width="48%">
                        <table style="width:100%; border:1px solid #000; border-top:none; border-bottom:none;">
                            <thead>
                                <tr style="border-bottom:1px solid #000;">
                                    <th style="padding:2px;">Probability:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="padding:10px; font-size:10px; vertical-align:top;">
                                        <table>
                                             @foreach (var item in Model.ProbabilityPrint)
                                             {
                                                 var tempSort = string.Empty;
                                                 switch (item.SortOrderId)
                                                 {
                                                     case 1:
                                                         tempSort = "A";
                                                         break;
                                                     case 2:
                                                         tempSort = "B";
                                                         break;
                                                     case 3:
                                                         tempSort = "C";
                                                         break;
                                                     case 4:
                                                         tempSort = "D";
                                                         break;
                                                 }
                                                <tr>
                                                    <td width="15px" style="vertical-align:text-top;">@tempSort</td>
                                                    <td style="overflow-wrap: break-word; vertical-align:text-top;">
                                                        <strong>@item.Name</strong> - @item.Description
                                                    </td>
                                                </tr>                                               
                                            }
                                        </table>
                                        &nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table style="width:100%; border:1px solid #000; font-size:10px;">
                            <tr style="border-bottom:1px solid #000;">
                                <td colspan="2" style="padding:3px;"><strong>Work to be done:</strong> @Html.DisplayFor(model => model.WorkInfo)</td>
                                <td style="padding:3px;"><strong>Date:</strong> @Html.DisplayFor(model => model.CreatedDate)</td>
                            </tr>
                            <tr style="border-bottom:1px solid #000;">
                                <td style="padding:3px;"><strong>Task location:</strong> @Html.DisplayFor(model => model.Location)</td>
                                <td style="padding:3px;"><strong>Muster point:</strong> @Html.DisplayFor(model => model.MusterPoint)</td>
                                <td style="padding:3px;"><strong>Permit Job #:</strong> @Html.DisplayFor(model => model.PermitJobNumber)</td>
                            </tr>
                            <tr>
                                <td colspan="3" style="padding:3px;"><strong>PPE inspected:</strong> @Html.DisplayFor(model => model.PPEInspected)</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p style="padding-top:5px;">
                            <strong>Identify and Prioritize the tasks and hazards below, then identify the plans to eliminate/control the hazards.</strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table border="1" style="width:100%;">
                            <thead>
                                <tr>
                                    <th width="10%" style="text-align:center; padding:3px;">HAZARD</th>
                                    <th width="10%" style="text-align:center; padding:3px;">SEVERITY</th>
                                    <th width="10%" style="text-align:center; padding:3px;">PROBABILITY</th>
                                    <th width="10%" style="text-align:center; padding:3px;">PRIORITY</th>
                                    <th width="60%" style="text-align:center; padding:3px;">PLANS TO ELIMINATE/CONTROL</th>
                                </tr>
                            </thead>
                            <tbody style="font-size:9px;">
                                @for (int i = 0; i < Model.Hazards.Count; i++)
                                {
                                    <tr>
                                        <td style="text-align:center; padding:3px;">@Model.Hazards[i].HazardSortOrderId</td>
                                        <td style="text-align:center; padding:3px;">@Model.Hazards[i].SeveritySortOrderId</td>
                                        <td style="text-align:center; padding:3px;">
                                            @{ var tempProbability = string.Empty; }
                                            @switch (Model.Hazards[i].ProbabilitySortOrderId)
                                            {
                                                case 1:
                                                    tempProbability = "A";
                                                    break;
                                                case 2:
                                                    tempProbability = "B";
                                                    break;
                                                case 3:
                                                    tempProbability = "C";
                                                    break;
                                                case 4:
                                                    tempProbability = "D";
                                                    break;
                                            }     
                                            @tempProbability
                                        </td>
                                        <td style="text-align:left; padding:3px;">@Model.Hazards[i].Priority</td>
                                        <td style="text-align:left; padding:3px;">@Model.Hazards[i].Plans</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table style="width:100%; border:1px solid #000; border-top:none; font-size:10px;">
                            <tr>
                                <td width="50%" style="white-space:nowrap; padding:3px;">
                                    <strong>Has a pre-use inspection of tools/equipment been completed?</strong>
                                    @if (Model.IsToolsEquipmentCompleted)
                                    {
                                        <div><strong>&#9745;</strong> Yes <strong>&#9744;</strong> No</div>
                                    } else
                                    {
                                        <div><strong>&#9744;</strong> Yes<strong>&#9745;</strong> No</div>
                                    }
                                </td>
                                <td width="50%" style="white-space:nowrap; padding:3px;">
                                    <strong>Warning ribbon needed?</strong>
                                    @if (Model.IsWarningRibbonNeeded)
                                    {
                                        <div><strong>&#9745;</strong> Yes <strong>&#9744;</strong> No</div>
                                    } else
                                    {
                                        <div><strong>&#9744;</strong> Yes <strong>&#9745;</strong> No</div>
                                    }
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table style="width:100%; border:1px solid #000; border-top:none;">
                            <tr>
                                <td width="25%" style="white-space:nowrap; padding:3px;">
                                    <strong>Is the worker working alone?</strong>
                                    @if (Model.IsWorkerWorkingAlone)
                                    {
                                        <div><strong>&#9745;</strong> Yes <strong>&#9744;</strong> No</div>
                                    } else
                                    {
                                        <div><strong>&#9744;</strong> Yes <strong>&#9745;</strong> No</div>
                                    }
                                </td>
                                <td width="75%" style="vertical-align:text-top; padding:3px;">
                                    <strong>If Yes, explain:</strong>
                                    @Model.WorkerComment
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p style="padding-top:5px;">
                            Please print and sign below (All members of the crew) prior to commencing work,
                            and initial when task is completed or at the end of the shift.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="48%">
                        <table border="1" style="width:100%;">
                            <thead>
                                <tr>
                                    <th width="40%" style="text-align:center; padding:3px;">Workers Name (print)</th>
                                    <th width="40%" style="text-align:center; padding:3px;">Signature</th>
                                    <th width="20%" style="text-align:center; padding:3px;">Initials</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < 5; i++)
                                {
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                }                               
                            </tbody>
                        </table>
                    </td>
                    <td width="4%">&nbsp;</td>
                    <td width="48%">
                        <table border="1" style="width:100%;">
                            <thead>
                                <tr>
                                    <th width="40%" style="text-align:center; padding:3px;">Workers Name (print)</th>
                                    <th width="40%" style="text-align:center; padding:3px;">Signature</th>
                                    <th width="20%" style="text-align:center; padding:3px;">Initials</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < 5; i++)
                                {
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                } 
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="30px" colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size:10px;">
                        Foreperson's Name and Signature (sign upon reviewing completed card):
                    </td>
                    <td style="border-bottom:2px solid #000;"></td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align:right; font-size:9px; font-style:italic; padding-top:3px;">
                        Note: All names must be legible.
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="flhaLogSignatureModal" role="dialog">
    <div class="modal-dialog">
        <form>
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="signatureHeader" class="modal-title">Please sign here</h4>
                </div>
                <div class="modal-body" style="width:375px; height:260px;">
                    <div class="row">
                        <div class="col-xs-11">
                            <label class="control-label">Add crew member signature</label>
                            <input type="text" id="vLogFullName" placeholder="Please enter crew member full name" 
                                  style="margin-bottom:10px;" name="vLogFullName" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="signature-wrapper">
                                <canvas id="signature-pad" class="signature-pad2" width="320" height="160" style="border:1px solid #000000;"></canvas><br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" id="logclear" name="signature_clear" class="btn btn-default" data-dismiss="modal" value="Clear" />
                    <input type="button" id="save-logsvg" name="signature_ok" class="btn btn-default" data-dismiss="modal" value="Ok" />
                </div>
            </div>
        </form>
    </div>
</div>