﻿@model DBI.Safety.Models.FLHAStep4Form
<script src="~/js/signature_pad.js"></script>

@{
    ViewData["Title"] = "Step 4";
}
<h2 class="page-title">@ViewData["Title"].ToString().ToUpper()</h2>
<h3 class="page-sub-title">@ViewData["Message"]</h3>

<form asp-action="UpdatePlan">
    <div class="row">
        @for (int i = 0; i < Model.FLHASelectedHazards.Count; i++)
        {
            <div class="col-md-4">
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="width:50px; border: none;">
                                <span><strong>Priority</strong></span>
                                <h2 style="text-align:center;"><strong>@Model.FLHASelectedHazards[i].Priority</strong></h2>
                            </td>
                            <td style="padding-left:15px; border: none;">
                                <span><strong>Hazard</strong></span>
                                <p>@Model.FLHASelectedHazards[i].Hazard</p>
                                <label asp-for="@Model.FLHASelectedHazards[i].Plans" class="control-label"></label>
                                @if (Model.FLHASelectedHazards[i].Plans != null)
                                {
                                    <p>@Model.FLHASelectedHazards[i].Plans</p>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row" style="margin:1px; margin-bottom:15px;">
                @{ var approverType = string.Empty; }
                @if(Model.FLHAReviews.Count >= 1) {
                    approverType = "Crew Member";
                } else {
                    approverType = "Reviewer";
                }

                <input id="hdnType" type="hidden" value="@approverType" />
                <label class="control-label">Add @approverType signature</label>
                <div class="input-group">
                    <input type="text" id="vFullName" placeholder="Please enter @approverType.ToLower() full name" name="vFullName"
                           class="form-control" autocomplete="off" />
                    <span class="input-group-btn">
                        <input class="btn btn-default" name="add_signature" type="button" value="Add" />
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        @if (Model.FLHAReviews.Count > 0)
        {
            @for (int i = 0; i < Model.FLHAReviews.Count; i++)
            {
                <div class="col-md-4">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td style="padding: 15px; border: none;">
                                    @Html.Raw(@Model.FLHAReviews[i].SignatureSvg) <br />
                                    <hr style="border:1px solid;" />
                                    <h4 style="text-transform:uppercase; text-align: left;">
                                        @Model.FLHAReviews[i].Type: @Model.FLHAReviews[i].FullName
                                    </h4>
                                    <h6>@Model.FLHAReviews[i].CreatedDate</h6>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
        }
    </div>

    <div class="row">
        <div class="col-xs-12">
            <hr />
        </div>
    </div>

    <div class="row" style="margin-bottom:40px;">
        <div class="col-xs-6 col-sm-3 col-lg-2 pull-left">
        </div>
        <div class="col-xs-6 col-sm-3 col-lg-2 pull-right">
            <input type="submit" name="complete" value="Complete FLHA" class="btn btn-primary btn-block"
                   formaction="/FLHA/Complete" formmethod="post" />
        </div>
    </div>
</form>

<div class="modal fade" id="flhaSignatureModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="signatureHeader" class="modal-title">Please sign here</h4>
            </div>
            <div class="modal-body" style="width:375px; height:190px;">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="signature-wrapper">
                            <canvas id="signature-pad" class="signature-pad2" width="320" height="160" style="border:1px solid #000000;"></canvas><br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="clear" name="signature_clear" class="btn btn-default" data-dismiss="modal" value="Clear" />
                <input type="button" id="save-svg" name="signature_ok" class="btn btn-default" data-dismiss="modal" value="Ok" />
            </div>
        </div>
    </div>
</div>