﻿@model DBI.Safety.Models.FLHAStep3Form

@{
    ViewData["Title"] = "Step 3";
}
<h2 class="page-title">@ViewData["Title"].ToString().ToUpper()</h2>
<h3 class="page-sub-title">@ViewData["Message"]</h3>

<form asp-action="Step3">   
    <div class="row">
        @for (int i = 0; i < Model.FLHASelectedHazards.Count; i++)
        {
            @Html.HiddenFor(x => x.FLHASelectedHazards[i].Id);
            @Html.HiddenFor(x => x.FLHASelectedHazards[i].Hazard);
            @Html.HiddenFor(x => x.FLHASelectedHazards[i].Priority);            
            <div class="col-md-4">
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="width:50px;">
                                <span><strong>Priority</strong></span>
                                <h2 style="text-align:center;"><strong>@Model.FLHASelectedHazards[i].Priority</strong></h2>
                            </td>
                            <td style="padding-left:15px;">
                                <span><strong>Hazard</strong></span>
                                <p>@Model.FLHASelectedHazards[i].Hazard</p>
                                <label asp-for="@Model.FLHASelectedHazards[i].Plans" class="control-label"></label>
                                @if (Model.FLHASelectedHazards[i].Plans != null)
                                {
                                    <p>@Model.FLHASelectedHazards[i].Plans</p>
                                    @Html.HiddenFor(x => x.FLHASelectedHazards[i].Plans);
                                }
                                else
                                {
                                    <input asp-for="@Model.FLHASelectedHazards[i].Plans" class="form-control" placeholder="Please enter your plan" autocomplete="off" />
                                    <span asp-validation-for="@Model.FLHASelectedHazards[i].Plans" class="text-danger"></span>
                                    @Html.HiddenFor(Model => Model.FLHASelectedHazards[i].Plans);
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-xs-12">
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-3 col-lg-2 pull-left">
        </div>
        <div class="col-xs-6 col-sm-3 col-lg-2 pull-right">
            <input type="submit" name="verify" value="Verify FLHA" class="btn btn-primary btn-block"
                    formaction="/FLHA/Step3" formmethod="post" />
        </div>    
    </div>    
</form>