﻿@model DBI.Safety.Models.FLHAStep2Form

@{
    ViewData["Title"] = "Step 2";
}
<h2 class="page-title">@ViewData["Title"].ToString().ToUpper()</h2>
<h3 class="page-sub-title">@ViewData["Message"]</h3>

<div class="row" style="margin-bottom:40px;">
    <div class="col-md-12">
        @if (!Model.IsLocationEnabled)
        {
            <div class="alert alert-danger" role="alert">
                <strong>Error!</strong> Please enable your location tracker.
            </div>
        }
        <form asp-action="Step2">            
            <div class="row">
                <div class="col-md-12">
                    <p>Identify and Prioritize the tasks and hazards below, then identify the plans to eliminate/control the hazards.</p>
                </div>
            </div>

            @foreach (var title in Model.HazardForms.Select(x => x.Title).Distinct())
            {
                <div class="caption">@title</div>

                @for (int i = 0; i < Model.HazardForms.Count; i++)
                {
                    @if (Model.HazardForms[i].Title == title)
                    {
                        <div class="card" style="background-color: #FFFFFF; margin-top: 15px;
                        margin-bottom:15px; padding-left: 15px; padding-right: 15px;">
                            @Html.HiddenFor(x => x.HazardForms[i].HazardId)
                            <div class="row">
                                <div class="col-md-12" style="margin-top: -10px;">
                                    <h3>
                                        <small class="text-muted">@Model.HazardForms[i].Name</small>
                                    </h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(x => x.HazardForms[i].Severity)
                                    @Html.DropDownListFor(x => x.HazardForms[i].SelectedSeverity, new SelectList(Model.HazardForms[i].Severity, "Value", "Text"),
                                              htmlAttributes: new { @class = "form-control", id = "Severity" })
                                    @Html.ValidationMessageFor(x => x.HazardForms[i].SelectedSeverity, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(x => x.HazardForms[i].Probability)
                                    @Html.DropDownListFor(x => x.HazardForms[i].SelectedProbability, new SelectList(Model.HazardForms[i].Probability, "Value", "Text"),
                                              htmlAttributes: new { @class = "form-control", id = "Probability" })
                                    @Html.ValidationMessageFor(x => x.HazardForms[i].SelectedProbability, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    }
                }
            }

            <div class="row">
                <div class="col-xs-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-lg-2 pull-left">
                    <input type="submit" name="cancel" value="Cancel" class="btn btn-default btn-block" 
                           formaction="/FLHA/Step1" formmethod="get" />
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2 pull-right">
                    <input type="submit" name="create" value="Create New FLHA" class="btn btn-primary btn-block" 
                           formaction="/FLHA/Step2" formmethod="post" />
                </div>
            </div>
        </form>
    </div>
</div>