﻿@{
    ViewData["Title"] = "Safety Forms";
}
<h2 class="page-title">@ViewData["Title"].ToString().ToUpper()</h2>
<h3 class="page-sub-title">@ViewData["Message"]</h3>

<div>
    @*<a class="btn btn-default" asp-action="create" asp-controller="SOC" style="border:0;">
        <img src="~/images/banner_SOC.svg" alt="ASP.NET" class="img-responsive" style="border:0;" />
    </a>*@
</div>

@*<div class="row">
    <div class="col-md-12">*@
@*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a class="btn btn-default" asp-action="create" asp-controller="SOC" style="border:0;">
                    <img src="~/images/banner_SOC.svg" alt="ASP.NET" class="img-responsive" style="border:0;" />
                </a>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>*@
@*</div>
    </div>*@