﻿@model DBI.Safety.Models.AddCategoryForm

@{
    ViewData["Title"] = "Admin";
}
<h2 class="page-title">@ViewData["Title"].ToString().ToUpper()</h2>
<h3 class="page-sub-title">@ViewData["Message"]</h3>

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<div class="row">
    <div class="col-sm-6 col-lg-4">
        <form asp-action="AddCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SelectedFormId" class="control-label"></label>
                @Html.DropDownListFor(model => model.SelectedFormId, new SelectList(Model.FormList, "Value", "Text"),
                               new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedFormId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Please enter name" autocomplete="off" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" aria-describedby="descriptionHelp" class="form-control" 
                       placeholder="Please enter description" autocomplete="off" />
                <small id="descriptionHelp" class="form-text text-muted">Description can be used as the group category</small><br />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SortOrderId" class="control-label"></label>
                <input asp-for="SortOrderId" class="form-control" placeholder="Please enter sort order id" min="0" />
                <span asp-validation-for="SortOrderId" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6 pull-left">
                    <input type="button" value="Cancel" class="btn btn-default btn-block"
                           onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
                </div>
                <div class="col-xs-6 col-md-6 pull-right">
                    <input type="submit" name="create" value="Add Category" class="btn btn-primary btn-block"
                           formaction="/Admin/AddCategory" formmethod="post" />
                </div>
            </div>
        </form>
    </div>
</div>

