﻿@model DBI.Safety.Models.AddRegionalManagerForm

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="page-title">@ViewData["Title"].ToString().ToUpper()</h2>
<h3 class="page-sub-title">@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-4">
        @if (Model.IsManagerExist)
        {
            <div class="alert alert-danger" role="alert">
                <strong>Error</strong> Manager already exist for this region.
            </div>
        }
        
        <form asp-action="AddDictionary">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" placeholder="Please enter first name" autocomplete="off" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" placeholder="Please enter last name" autocomplete="off" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedRegionId" class="control-label"></label>
                @Html.DropDownListFor(x => x.SelectedRegionId, new SelectList(Model.RegionList, "ValueMember", "DisplayMember"),
                                           htmlAttributes: new { @class = "form-control", id = "Region" })
                <span asp-validation-for="SelectedRegionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Please enter email" autocomplete="off" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6 pull-left">
                    <input type="button" value="Cancel" class="btn btn-default btn-block"
                           onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
                </div>
                <div class="col-xs-6 col-md-6 pull-right">
                    <input type="submit" name="create" value="Add Regional Manager" class="btn btn-primary btn-block"
                           formaction="/Admin/AddRegionalManager" formmethod="post" />
                </div>
            </div>
        </form>
    </div>
</div>
