﻿@model DBI.Safety.Models.SocTotalNumberForm

@{
    ViewData["Title"] = "SOC Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<h2 class="page-title">@ViewData["Title"].ToString().ToUpper()</h2>
<h3 class="page-sub-title">@ViewData["Message"]</h3>

<div class="row" style="margin-bottom:40px;">
    <div class="col-sm-6 col-lg-4">
        <form asp-action="SocTotalNumber">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SelectedCompanyId" class="control-label"></label>
                @Html.DropDownListFor(model => model.SelectedCompanyId, new SelectList(Model.CompanyList, "ValueMember", "DisplayMember"),
                               new { @class = "form-control", id = "Company" })
                @Html.ValidationMessageFor(model => model.SelectedCompanyId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="SelectedRegionId" class="control-label"></label>
                @Html.DropDownListFor(model => model.SelectedRegionId, new SelectList(Model.RegionList, "ValueMember", "DisplayMember"),
                               new { @class = "form-control", id = "SOCReportRegion" })
                @Html.ValidationMessageFor(model => model.SelectedRegionId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="SelectedProjectId" class="control-label"></label>
                @Html.DropDownListFor(model => model.SelectedProjectId, new SelectList(Model.ProjectList, "ValueMember", "DisplayMember"),
                               new { @class = "form-control", id = "SOCReportLocation" })
                @Html.ValidationMessageFor(model => model.SelectedProjectId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="From" class="control-label"></label>
                <div class="dx-field-value">
                    @(Html.DevExtreme().DateBox()
                                        .Name("From")
                                        .Type(DateBoxType.Date)
                                        .Max(DateTime.Now)
                    )
                </div>
            </div>
            <div class="form-group">
                <label asp-for="To" class="control-label"></label>
                <div class="dx-field-value">
                    @(Html.DevExtreme().DateBox()
                                        .Name("To")
                                        .Type(DateBoxType.Date)
                                        .Max(DateTime.Now)
                    )
                </div>
            </div>

            <div class="form-group">
                <hr />
            </div>

            <div class="row">
                <div class="col-xs-12 pull-right" style="margin-bottom:15px;">
                    <div class="row">
                        <div class="col-xs-4">
                            <input type="submit" name="generate" value="SOC Counts" class="btn btn-primary btn-block"
                                   formaction="/Reports/SocCounts" formmethod="post" />
                        </div>
                        <div class="col-xs-4">
                            <input type="submit" name="generate" value="SOC Risk" class="btn btn-primary btn-block"
                                   formaction="/Reports/SocRisk" formmethod="post" />
                        </div>
                        <div class="col-xs-4">
                            <input type="submit" name="generate" value="SOC Details" class="btn btn-primary btn-block"
                                   formaction="/Reports/SocDetail" formmethod="post" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 pull-left" style="margin-bottom:25px;">
                    <input type="submit" name="cancel" value="Cancel" class="btn btn-default btn-block"
                           formaction="/Reports/SocTotalNumber" formmethod="get" />
                </div>
            </div>
        </form>
    </div>
</div>