﻿@model DBI.Safety.Models.SOCForm

@{
    ViewData["Title"] = "Safety Observation Card";
}
<h2 class="page-title">@ViewData["Title"].ToString().ToUpper()</h2>
<h3 class="page-sub-title">@ViewData["Message"]</h3>

<style>
    .btn-success {
        background-color: #FFFFFF !important;
        border-color: #5cb85c !important;
        color: #5cb85c !important;
    }

        .btn-success:focus, .btn-success:active, .btn-success.active {
            background-color: #5cb85c !important;
            border-color: #5cb85c !important;
            color: #FFFFFF !important;
        }

    .btn-danger {
        background-color: #FFFFFF !important;
        border-color: #d9534f !important;
        color: #d9534f !important;
    }

        .btn-danger:focus, .btn-danger:active, .btn-danger.active {
            background-color: #d9534f !important;
            border-color: #d9534f !important;
            color: #FFFFFF !important;
        }

    .revert:focus, .revert:active, .revert.active {
        background-color: #6c757d !important;
        color: #FFFFFF !important;
    }
</style>

<div class="row" style="margin-bottom:40px;">
    <div class="col-md-12">
        @{ List<string> errors = new List<string> { }; }
        @if (!Model.IsQuestionSelected)
        {
            errors.Add("Please select all the observation.");
        }

        @if (!Model.IsLocationEnabled)
        {
            errors.Add("Please enable your location tracker.");
        }

        @if (Model.IsObserverTypeSelected)
        {
            errors.Add("Please select observation type.");
        }

        @if (errors.Count > 0)
        {
            <div class="alert alert-danger" role="alert">
                <strong>Error</strong>
                <ul>
                    @foreach (var item in errors)
                    {
                        <li>@item</li>
                    }
                </ul>
            </div>
        }

        <form asp-action="Create">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @foreach (var category in Model.Questions.Select(x => x.Category).Distinct())
                {
                    <div class="col-md-4">
                        <table class="table table-responsive-sm">
                            <caption class="caption">@Html.DisplayName(category)</caption>
                            <thead>
                                <tr>
                                    <th width="150" scope="col">Observation</th>
                                    <th scope="col">@Html.DisplayName("Description")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Questions.Count; i++)
                                {
                                    @if (Model.Questions[i].Category == category)
                                    {
                                        <tr>
                                            <td>
                                                <div class="btn-group-xs btn-group-sm" data-toggle="buttons">
                                                    @Html.HiddenFor(m => m.Questions[i].Id)
                                                    @Html.HiddenFor(m => m.Questions[i].Name)
                                                    @foreach (var answer in Model.Questions[i].PossibleAnswers)
                                                    {
                                                        var lblId = Model.Questions[i].Id + "_" + answer.Id;
                                                        @if (answer.Text == "Safe")
                                                        {
                                                            @if (Model.Questions[i].SelectedAnswer == 67)
                                                            {
                                                                <label id="@lblId" for="@answer.Id" class="btn btn-success active">
                                                                    @answer.Text
                                                                    @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswer, answer.Id, new { id = answer.Id })
                                                                </label>
                                                            }
                                                            else
                                                            {
                                                                <label id="@lblId" for="@answer.Id" class="btn btn-success">
                                                                    @answer.Text
                                                                    @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswer, answer.Id, new { id = answer.Id })
                                                                </label>
                                                            }
                                                        }
                                                        else if (answer.Text == "At Risk")
                                                        {
                                                            @if (Model.Questions[i].SelectedAnswer == 68)
                                                            {
                                                                <label id="@lblId" for="@answer.Id" class="btn btn-danger active">
                                                                    @answer.Text
                                                                    @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswer, answer.Id, new { id = answer.Id })
                                                                </label>
                                                            }
                                                            else
                                                            {
                                                                <label id="@lblId" for="@answer.Id" class="btn btn-danger">
                                                                    @answer.Text
                                                                    @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswer, answer.Id, new { id = answer.Id })
                                                                </label>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @if (Model.Questions[i].SelectedAnswer == 69)
                                                            {
                                                                <label id="@lblId" for="@answer.Id" class="btn btn-default revert active">
                                                                    @answer.Text
                                                                    @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswer, answer.Id, new { id = answer.Id })
                                                                </label>
                                                            }
                                                            else
                                                            {
                                                                <label id="@lblId" for="@answer.Id" class="btn btn-default revert">
                                                                    @answer.Text
                                                                    @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswer, answer.Id, new { id = answer.Id })
                                                                </label>
                                                            }
                                                        }
                                                    }
                                                    @Html.ValidationMessageFor(m => m.Questions[i].SelectedAnswer)
                                                </div>
                                            </td>
                                            <td>@Html.DisplayName(Model.Questions[i].Name)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
            <div class="row">
                <div class="form-group col-md-12">                    
                    <label asp-for="OtherAtRiskData" class="control-label"></label>
                    <input asp-for="OtherAtRiskData" class="form-control" type="text" placeholder="Please enter other at risk data" autocomplete="off" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="OtherPositiveObservation" class="control-label"></label>
                    <input asp-for="OtherPositiveObservation" class="form-control" placeholder="Please enter other positive observation" autocomplete="off" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="SelectedLocationId" class="control-label"></label>
                    @Html.DropDownListFor(x => x.SelectedLocationId, new SelectList(Model.LocationList, "ValueMember", "DisplayMember"),
                        htmlAttributes: new { @class = "form-control", id = "Location" })
                    <span asp-validation-for="SelectedLocationId" class="text-danger"></span>
                </div>                
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="SelectedTaskId" class="control-label"></label>
                    @Html.DropDownListFor(x => x.SelectedTaskId, new SelectList(Model.TaskList, "ValueMember", "DisplayMember"),
                                               htmlAttributes: new { @class = "form-control", id = "Task" })
                    <span asp-validation-for="SelectedTaskId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Comments" class="control-label"></label>
                    <input asp-for="Comments" class="form-control" placeholder="Please enter your comments" autocomplete="off" />
                    <span asp-validation-for="Comments" class="text-danger"></span>
                </div>                
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Observer" class="control-label"></label>
                    <input asp-for="Observer" class="form-control" placeholder="Please enter your observer" disabled autocomplete="off" />
                    <span asp-validation-for="Observer" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Person being observed</label>
                    <div class="btn-group-sm btn-group-sm" data-toggle="buttons">
                        @foreach (var observerType in Model.ObserverType)
                        {
                            <label for="@observerType.Id" class="btn btn-default radio-prime">
                                @observerType.Name
                                @Html.RadioButtonFor(m => m.SelectedObserverType, observerType.Id, new { id = observerType.Id })
                            </label>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-lg-2 pull-left">
                    <input type="submit" name="cancel" value="Cancel" class="btn btn-default btn-block"
                           formaction="/SOC/Create" formmethod="get" />
                </div>
                <div class="col-xs-6 col-sm-3 col-lg-2 pull-right">
                    <input type="submit" name="create" value="Create New SOC" class="btn btn-primary btn-block"
                           formaction="/SOC/Create" formmethod="post" />
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="socSpecialQuestionModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Model.WorkZoneIntrusionsSpecialQuestion.Header</h4>
            </div>
            <div class="modal-body">
                <p>@Model.WorkZoneIntrusionsSpecialQuestion.Body</p>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Yes"/>
                <input type="button" name="workzone_no" class="btn btn-default" data-dismiss="modal" value="No" />
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="socSpecialQuestionConfirmModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Model.WorkZoneIntrusionsConfirmation.Header</h4>
            </div>
            <div class="modal-body">
                <p>@Model.WorkZoneIntrusionsConfirmation.Body</p>
            </div>
            <div class="modal-footer">
                <input type="button" name="workzone_no_confirm" class="btn btn-default" data-dismiss="modal" value="Ok" />
            </div>
        </div>

    </div>
</div>