﻿@using System.IO;
@model DBI.Safety.Models.SOCViewModel

@{
    ViewData["Title"] = "Safety observation card";
}

<style>
    .success-label {
        padding: 5px;
        border-radius: 3px;
        color: #FFFFFF;
        width: 75px;
        height: 28px;
        font-size: 13px;
        font-weight: 400;
        text-align: center;
        background-color: #5cb85c !important;
    }

    .danger-label {
        padding: 5px;
        border-radius: 3px;
        color: #FFFFFF;
        width: 75px;
        height: 28px;
        font-size: 13px;
        font-weight: 400;
        text-align: center;
        background-color: #d9534f !important;
    }

    .default-label {
        padding: 5px;
        border-radius: 3px;
        color: #FFFFFF;
        width: 75px;
        height: 28px;
        font-size: 13px;
        font-weight: 400;
        text-align: center;
        background-color: #6c757d !important;
    }

    #logo {
        width: 100px;
        height: 50px;
        background: url('../../wwwroot/images/logo.jpg');
    }
</style>

<div class="hidden-print">
    <div class="row">
        <form>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="page-title">@ViewData["Title"].ToString().ToUpper()</h2>
                        <h3 class="page-sub-title">@ViewData["Message"]</h3>
                    </div>
                </div>
                <div class="row">
                    @foreach (var category in Model.Questions.Select(x => x.Category).Distinct())
                    {
                        <div class="col-md-4">
                            <table class="table table-responsive-sm">
                                <caption class="caption">@Html.DisplayName(category)</caption>
                                <thead>
                                    <tr>
                                        <th width="100" scope="col">Observation</th>
                                        <th scope="col">@Html.DisplayName("Description")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Questions.Count; i++)
                                    {
                                        @if (Model.Questions[i].Category == category)
                                        {
                                            <tr>
                                                <td>
                                                    @if (Model.Questions[i].SelectedAnswer.TrimEnd() == "Safe")
                                                    {
                                                        <label class="success-label">
                                                            @Model.Questions[i].SelectedAnswer.TrimEnd()
                                                        </label>
                                                    }
                                                    else if (Model.Questions[i].SelectedAnswer.TrimEnd() == "At Risk")
                                                    {
                                                        <label for="@Model.Questions[i].SelectedAnswer" class="danger-label">
                                                            @Model.Questions[i].SelectedAnswer.TrimEnd()
                                                        </label>
                                                    }
                                                    else
                                                    {
                                                        <label for="Model.Questions[i].SelectedAnswer" class="default-label">
                                                            @Model.Questions[i].SelectedAnswer.TrimEnd()
                                                        </label>
                                                    }
                                                </td>
                                                <td>@Html.DisplayName(Model.Questions[i].Name)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.OtherAtRiskData))
                    {
                        <div class="col-md-4">
                            <table class="table table-responsive-sm">
                                <caption class="caption">Other</caption>
                                <thead>
                                    <tr>
                                        <th width="100" scope="col">Observation</th>
                                        <th scope="col">@Html.DisplayName("Description")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <label class="danger-label">
                                                At Risk
                                            </label>
                                        </td>
                                        <td>@Html.DisplayName(Model.OtherAtRiskData)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <strong>@Html.DisplayNameFor(model => model.Comments)</strong><br />
                        @Html.DisplayFor(model => model.Comments)
                    </div>
                    <div class="form-group col-md-6">
                        <strong>@Html.DisplayNameFor(model => model.Location)</strong><br />
                        @Html.DisplayFor(model => model.Location)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <strong>@Html.DisplayNameFor(model => model.Task)</strong><br />
                        @Html.DisplayFor(model => model.Task)
                    </div>
                    <div class="form-group col-md-6">
                        <strong>@Html.DisplayNameFor(model => model.OtherPositiveObservation)</strong><br />
                        @if (!string.IsNullOrWhiteSpace(Model.OtherPositiveObservation))
                        {
                            @Html.DisplayFor(model => model.OtherPositiveObservation)
                        }
                        else
                        {
                            @Html.DisplayName("N/A");
                        }

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <strong>@Html.DisplayNameFor(model => model.ObservedBy)</strong><br />
                        @Html.DisplayFor(model => model.ObservedBy)
                    </div>
                    <div class="form-group col-md-6">
                        <strong>@Html.DisplayNameFor(model => model.CreatedDate)</strong><br />
                        @Html.DisplayFor(model => model.CreatedDate)
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <hr />
                    </div>
                </div>

                <div class="row" style="margin-bottom:40px;">
                    <div class="form-group col-xs-6 col-sm-3 col-lg-2 pull-left">
                        <input type="submit" name="goBack" value="Go Back" class="btn btn-default btn-block"
                               formaction="/SOC/History" formmethod="get" />
                    </div>
                    <div class="col-xs-6 col-sm-3 col-lg-2 pull-right">
                    </div>
                </div>
            </div>            
        </form>
    </div>
</div>

@* Printer friendly page *@
<div class="visible-print-block" style="font-size:11px;">
    <div class="row">
        <div class="col-lg-12">
            <table style="margin-top:-50px; width:100%; border: 2px solid #000; border-bottom:none;">
                <tr>
                    <td width="30%" style="vertical-align:top; padding:10px;">
                        @Html.Raw(File.ReadAllText("wwwroot/images/Logo_pub_print.svg"))
                    </td>
                    <td width="70%" style="text-align:left; padding:10px;"><h4>Safety Observation Card</h4></td>
                </tr>
            </table>
            <table style="width:100%; border: 2px solid #000; font-size:12px; border-bottom:none;">
                @foreach (var category in Model.Questions.Select(x => x.Category).Distinct())
                {
                    <thead>
                        <tr>
                            <th width="70" scope="col" style="border:2px solid #000; text-align:center; padding:3px;">Safe</th>
                            <th width="70" scope="col" style="border:2px solid #000; text-align:center; padding:3px;">At Risk</th>
                            <th width="70" scope="col" style="border:2px solid #000; text-align:center; padding:3px;">N/A</th>
                            <th scope="col" style="border:2px solid #000; padding:3px;">@Html.DisplayName(category)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Questions.Count; i++)
                        {
                            @if (Model.Questions[i].Category == category)
                            {
                                <tr>
                                    @if (Model.Questions[i].SelectedAnswer.TrimEnd() == "Safe")
                                    {
                                        <td width="70" style="border:2px solid #000; text-align:center; padding:3px;">&#10003;</td>
                                        <td width="70" style="border:2px solid #000; text-align:center; padding:3px;"></td>
                                        <td width="70" style="border:2px solid #000; text-align:center; padding:3px;"></td>
                                        <td style="border:2px solid #000; padding:3px;">@Html.DisplayName(Model.Questions[i].Name)</td>
                                    }
                                    else if (Model.Questions[i].SelectedAnswer.TrimEnd() == "At Risk")
                                    {
                                        <td width="70" style="border:2px solid #000; text-align:center; padding:3px;"></td>
                                        <td width="70" style="border:2px solid #000; text-align:center; padding:3px;">&#10003;</td>
                                        <td width="70" style="border:2px solid #000; text-align:center; padding:3px;"></td>
                                        <td style="border:2px solid #000; padding:3px;">@Html.DisplayName(Model.Questions[i].Name)</td>
                                    }
                                    else
                                    {
                                        <td width="70" style="border:2px solid #000; text-align:center; padding:3px;"></td>
                                        <td width="70" style="border:2px solid #000; text-align:center; padding:3px;"></td>
                                        <td width="70" style="border:2px solid #000; text-align:center; padding:3px;">&#10003;</td>
                                        <td style="border:2px solid #000; padding:3px;">@Html.DisplayName(Model.Questions[i].Name)</td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                }
            </table>
            @if (!string.IsNullOrEmpty(Model.OtherAtRiskData))
            {
                <table style="width:100%; border: 2px solid #000; font-size:12px; border-bottom:none;">
                    <thead>
                        <tr>
                            <th width="70" scope="col" style="border:2px solid #000; text-align:center; border-top: none; padding:3px;">Safe</th>
                            <th width="70" scope="col" style="border:2px solid #000; text-align:center; border-top: none; padding:3px;">At Risk</th>
                            <th width="70" scope="col" style="border:2px solid #000; text-align:center; border-top: none; padding:3px;">N/A</th>
                            <th scope="col" style="border:2px solid #000; border-top: none; padding:3px;">Other</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="70" style="border:2px solid #000; text-align:center; padding:3px;"></td>
                            <td width="70" style="border:2px solid #000; text-align:center; padding:3px;">&#10003;</td>
                            <td width="70" style="border:2px solid #000; text-align:center; padding:3px;"></td>
                            <td style="border:2px solid #000; padding:3px;">@Html.DisplayName(Model.OtherAtRiskData)</td>
                        </tr>
                    </tbody>
                </table>
            }

            <table style="width:100%; border: 2px solid #000; font-size:12px; border-top:none;">
                <tbody>
                    <tr>
                        <td style="border:2px solid #000; border-top: none; padding:3px;">
                            <strong>@Html.DisplayNameFor(model => model.Comments): </strong>
                            @Html.DisplayFor(model => model.Comments)
                        </td>
                    </tr>
                    <tr>
                        <td style="border:2px solid #000; padding:3px;">
                            <strong>@Html.DisplayNameFor(model => model.Location): </strong>
                            @Html.DisplayFor(model => model.Location)
                        </td>
                    </tr>
                    <tr>
                        <td style="border:2px solid #000; padding:3px;">
                            <strong>Date: </strong>
                            @Html.DisplayFor(model => model.CreatedDate)
                        </td>
                    </tr>
                    <tr>
                        <td style="border:2px solid #000; padding:3px;">
                            <strong>@Html.DisplayNameFor(model => model.Task): </strong>
                            @Html.DisplayFor(model => model.Task)
                        </td>
                    </tr>
                    <tr>
                        <td style="border:2px solid #000; border-top: none; padding:3px;">
                            <strong>@Html.DisplayNameFor(model => model.OtherPositiveObservation): </strong>
                            @Html.DisplayFor(model => model.OtherPositiveObservation)
                        </td>
                    </tr>
                    <tr>
                        <td style="border:2px solid #000; padding:3px;">
                            <strong>@Html.DisplayNameFor(model => model.ObservedBy): </strong>
                            @foreach (var item in Model.ObserverTypePrint)
                            {
                                @if (item.Name == Model.ObservedBy)
                                {
                                    <div><strong>&#9745;</strong> @item.Name </div>
                                }
                                else
                                {
                                    <div><strong>&#9744;</strong> @item.Name </div>
                                }
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
