﻿@using System.IO;
@model DBI.Safety.Models.LogInViewModel
@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="wrap-login100">
            <form asp-action="Login" class="login100-form validate-form">
                <span class="login100-form-logo">
                    <span>@Html.Raw(File.ReadAllText("wwwroot/images/Logo_pub_login.svg"))</span>
                </span>

                <div class="row">
                    <div class="form-group col-xs-12">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" placeholder="Please enter your username" autocomplete="off" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Please enter your password" autocomplete="off" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <input type="submit" name="login" value="Login" class="btn btn-primary btn-block" />
                    </div>
                </div>

                <div class="txt1">
                    <span>
                        &copy; 2018 - DBi Services: Safety
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
